.centered-h
{
	display: flex;
	justify-content: center;
}
.centered-v
{
	display: flex;
	flex-direction: column;
	align-items: center;
}

.header
{
	padding-top: 2rem;
	text-transform: capitalize;
	font-size: 25pt;
	font-weight: bold;
}
.subheader
{
	padding-top: 2rem;
	text-transform: capitalize;
	font-size: 20pt;
}
